# The files under licenses/ are verbatim copies of upstream licence texts.
# Marking them -text keeps them byte-identical to what those projects publish,
# rather than letting a checkout rewrite the line endings of a legal document.
licenses/** -text
